* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family: "sans-serif", "微软雅黑";
	/*text-align: center;*/
}

a {
	text-decoration: none;
}

header {
	width: 100%;
}

header img {
	width: 76.47%;
	margin: 0 auto;
}

.stubody {
	height: 300px;
}

.idbody {
	width: 400px;
	height: 400px;
}

fieldset {
	width: 400px;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: 40px;
}

form {
	margin-top: 20px;
	margin-left: 20px;
}

fieldset label {
	font-size: 15px;
	font-weight: bold;
	text-align: right;
}

table {
	margin: 0px auto;
}

input {
	border-style: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 5px 0;
}

.idbody .outinput1 {
	padding-left: 10px;
	width: 150px;
	height: 40px;
	background: #ffffff;
	color: #333;
	border-style: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 5px 0;
}

.stubody .outinput1 {
	padding-left: 10px;
	width: 150px;
	height: 40px;
	background: #ffffff;
	color: #333;
	border-style: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 5px 0;
}

.outinput1:focus {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

input:focus {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

input[type="submit"], .stucheck, .idcheck {
	padding: 10px 25px;
	margin-top: 10px;
	border-radius: 5px;
	background: #5bcfdf;
	font-weight: bold;
	color: #fff;
}

input[type="submit"]:hover, .stucheck:hover {
	background: #5bc0de;
	cursor: pointer;
}

.stucheck {
	margin-left: 100px;
}

.container {
	width: 76.47%;
	margin: 0 auto;
	/*height: 500px;*/
	/*border: 1px solid #000;*/
}

.container .logo {
	width: 200px;
	height: 200px;
	background: url(../images/xiaohui.jpg) no-repeat center center;
	opacity: 0.1;
	position: absolute;
	top: 150px;
	left: 550px;
}

.stuhead {
	height: 40px;
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
	font-family: "sans-serif", "微软雅黑";
}