@CHARSET "UTF-8";
body {
	font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.updateidle_form {
	border:1px solid #DDDDDD;
	padding:10px;
	width:760px;
	margin:40px auto 0 auto;
}

.updateidle_form ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}

.updateidle_form li {
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
} 

.updateidle_form li:first-child,
.contact_form li:last-child {
	border-bottom:1px solid #777;
}

.updateidle_form h2 {
	margin:0;
	display: inline;
}

.required_notification {
	color:#d45252;
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

.updateidle_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}

.updateidle_form input {
	height:20px;
	width:220px;
	padding:5px 8px;
}

.updateidle_form button {
	margin-left:156px;
}

.updateidle_form input {
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-right:30px;
	-webkit-transition: padding .25s;
	transition: padding .25s;
}

.updateidle_form input:focus {
	background: #fff;
	border:1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right:70px;
}

.updateidle_form input:required {
	background: #fff url(images/xxx.png) no-repeat 98% center;
}

.updateidle_form input:required:valid {
	background: #fff url(images/xxx.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

.updateidle_form input:focus:invalid {
	background: #fff url(images/xxx.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
	}

button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}

button.submit:hover {
	opacity:.85;
	cursor: pointer;
	}

button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset;
}
