<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>输出验证码</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PictureCheckCode</servlet-name>
    <servlet-class>rj7.servlet.PictureCheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureCheckCode</servlet-name>
    <url-pattern>/PictureCheckCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>发送邮件</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MailServ</servlet-name>
    <servlet-class>rj7.servlet.MailServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServ</servlet-name>
    <url-pattern>/MailServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>找回密码</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindPswdServ</servlet-name>
    <servlet-class>rj7.servlet.FindPswdServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPswdServ</servlet-name>
    <url-pattern>/FindPswdServ</url-pattern>
  </servlet-mapping>
  
 <servlet>
  <description>添加推送</description>
    <servlet-name>PushAddServ</servlet-name>
    <servlet-class>rj7.servlet.PushAddServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushAddServ</servlet-name>
    <url-pattern>/PushAddServ</url-pattern>
  </servlet-mapping>
  <servlet>
   <description>修改推送</description>
    <servlet-name>PushModifyServ</servlet-name>
    <servlet-class>rj7.servlet.PushModifyServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushModifyServ</servlet-name>
    <url-pattern>/PushModifyServ</url-pattern>
  </servlet-mapping>
  <servlet>
   <description>更新推送</description>
    <servlet-name>PushUpdateServ</servlet-name>
    <servlet-class>rj7.servlet.PushUpdateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushUpdateServ</servlet-name>
    <url-pattern>/PushUpdateServ</url-pattern>
  </servlet-mapping>
  <servlet>
   <description>推送列表</description>
    <servlet-name>PushShowServ</servlet-name>
    <servlet-class>rj7.servlet.PushShowServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushShowServ</servlet-name>
    <url-pattern>/PushShowServ</url-pattern>
  </servlet-mapping>
  <servlet>
   <description>页面刷新</description>
    <servlet-name>PushRefreshServ</servlet-name>
    <servlet-class>rj7.servlet.PushRefreshServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushRefreshServ</servlet-name>
    <url-pattern>/PushRefreshServ</url-pattern>
  </servlet-mapping>
  <servlet>
   <description>推送删除</description>
    <servlet-name>PushDeleteServ</servlet-name>
    <servlet-class>rj7.servlet.PushDeleteServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushDeleteServ</servlet-name>
    <url-pattern>/PushDeleteServ</url-pattern>
  </servlet-mapping>
  <servlet>
   <description>推送详情</description>
    <servlet-name>PushDetailServ</servlet-name>
    <servlet-class>rj7.servlet.PushDetailServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushDetailServ</servlet-name>
    <url-pattern>/PushDetailServ</url-pattern>
  </servlet-mapping>
</web-app>